In [1]:
import FinanceDataReader as fdr

In [3]:
# 데이터 분석을 위해 pandas, 시각화를 위해 seaborn 불러오기
import seaborn as sbn
import pandas as pd

import matplotlib.pyplot as plt

In [5]:
# 이전 강좌에서 to_csv로 저장해둔 krx.csv 파일을 pd.read_csv 로 불러옵니다.
df = pd.read_csv("실습2_1.csv")
df

,Symbol,Market,Name,Sector,Industry,ListingDate,SettleMonth,Representative,HomePage,Region
0,060310,KOSDAQ,3S,특수 목적용 기계 제조업,반도체 웨이퍼 캐리어,2002-04-23,03월,"박종익, 김세완 (각자 대표이사)",http://www.3sref.com,서울특별시
1,095570,KOSPI,AJ네트웍스,산업용 기계 및 장비 임대업,"렌탈(파렛트, OA장비, 건설장비)",2015-08-21,12월,이현우,http://www.ajnet.co.kr,서울특별시
2,006840,KOSPI,AK홀딩스,기타 금융업,지주사업,1999-08-11,12월,"채형석, 이석주(각자 대표이사)",http://www.aekyunggroup.co.kr,서울특별시
3,054620,KOSDAQ,APS홀딩스,기타 금융업,인터넷 트래픽 솔루션,2001-12-04,12월,정기로,http://www.apsholdings.co.kr,경기도
4,265520,KOSDAQ,AP시스템,특수 목적용 기계 제조업,디스플레이 제조 장비,2017-04-07,12월,김영주,http://www.apsystems.co.kr,경기도
...,...,...,...,...,...,...,...,...,...,...
6662,000547,KOSPI,흥국화재2우B,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6663,000545,KOSPI,흥국화재우,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6664,003280,KOSPI,흥아해운,해상 운송업,외항화물운송업(케미컬탱커),1976-06-29,12월,이환구,http://www.heung-a.com,서울특별시
6665,037440,KOSDAQ,희림,"건축기술, 엔지니어링 및 관련 기술 서비스업",설계 및 감리용역,2000-02-03,12월,"정영균, 이목운, 허철호, 염두성 (각자대표)",http://www.heerim.com,서울특별시
6666,238490,KOSDAQ,힘스,특수 목적용 기계 제조업,"OLED Mask 인장기, OLED Mask 검사기 등",2017-07-20,12월,김주환,http://www.hims.co.kr,인천광역시

## 일부 데이터만 가져오기

In [10]:
# head 로 위에 있는 데이터 일부만 가져옵니다.
df.head()

,Symbol,Market,Name,Sector,Industry,ListingDate,SettleMonth,Representative,HomePage,Region
0,060310,KOSDAQ,3S,특수 목적용 기계 제조업,반도체 웨이퍼 캐리어,2002-04-23,03월,"박종익, 김세완 (각자 대표이사)",http://www.3sref.com,서울특별시
1,095570,KOSPI,AJ네트웍스,산업용 기계 및 장비 임대업,"렌탈(파렛트, OA장비, 건설장비)",2015-08-21,12월,이현우,http://www.ajnet.co.kr,서울특별시
2,006840,KOSPI,AK홀딩스,기타 금융업,지주사업,1999-08-11,12월,"채형석, 이석주(각자 대표이사)",http://www.aekyunggroup.co.kr,서울특별시
3,054620,KOSDAQ,APS홀딩스,기타 금융업,인터넷 트래픽 솔루션,2001-12-04,12월,정기로,http://www.apsholdings.co.kr,경기도
4,265520,KOSDAQ,AP시스템,특수 목적용 기계 제조업,디스플레이 제조 장비,2017-04-07,12월,김영주,http://www.apsystems.co.kr,경기도

In [11]:
# tail 로 아래 있는 데이터 일부만 가져옵니다.
df.tail()

,Symbol,Market,Name,Sector,Industry,ListingDate,SettleMonth,Representative,HomePage,Region
6662,000547,KOSPI,흥국화재2우B,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6663,000545,KOSPI,흥국화재우,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6664,003280,KOSPI,흥아해운,해상 운송업,외항화물운송업(케미컬탱커),1976-06-29,12월,이환구,http://www.heung-a.com,서울특별시
6665,037440,KOSDAQ,희림,"건축기술, 엔지니어링 및 관련 기술 서비스업",설계 및 감리용역,2000-02-03,12월,"정영균, 이목운, 허철호, 염두성 (각자대표)",http://www.heerim.com,서울특별시
6666,238490,KOSDAQ,힘스,특수 목적용 기계 제조업,"OLED Mask 인장기, OLED Mask 검사기 등",2017-07-20,12월,김주환,http://www.hims.co.kr,인천광역시

In [13]:
# sample을 사용하면 랜덤하게 ()안의 갯수만큼 가져옵니다. 
# ()안에 값을 써주지 않으면 한 개만 가져옵니다.
df.sample(3)
df.sample()

,Symbol,Market,Name,Sector,Industry,ListingDate,SettleMonth,Representative,HomePage,Region
2458,52FB84,KOSPI,미래FB84KOSPI200콜,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## 데이터 요약하기

In [14]:
# info 로 요약 데이터를 봅니다.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6667 entries, 0 to 6666
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Symbol          6667 non-null   object
 1   Market          6667 non-null   object
 2   Name            6667 non-null   object
 3   Sector          2412 non-null   object
 4   Industry        2393 non-null   object
 5   ListingDate     2412 non-null   object
 6   SettleMonth     2412 non-null   object
 7   Representative  2412 non-null   object
 8   HomePage        2239 non-null   object
 9   Region          2412 non-null   object
dtypes: object(10)
memory usage: 521.0+ KB

In [15]:
# describe 로 기술통계값을 봅니다.
df.describe()

,Symbol,Market,Name,Sector,Industry,ListingDate,SettleMonth,Representative,HomePage,Region
count,6667,6667,6667,2412,2393,2412,2412,2412,2239,2412
unique,6667,3,6667,158,2241,1777,9,2297,2218,21
top,063440,KOSPI,한섬,특수 목적용 기계 제조업,기업인수합병,1976-06-30,12월,-,http://www.apgroup.com,서울특별시
freq,1,5031,1,141,36,8,2352,5,2,972

In [23]:
# 중복을 제외한 unique 값의 갯수를 봅니다.
df.nunique()

Symbol            6667
Market               3
Name              6667
Sector             158
Industry          2241
ListingDate       1777
SettleMonth          9
Representative    2297
HomePage          2218
Region              21
dtype: int64

In [24]:
# index 값 보기
df.index

RangeIndex(start=0, stop=6667, step=1)

In [25]:
# 컬럼값 보기
df.columns

Index(['Symbol', 'Market', 'Name', 'Sector', 'Industry', 'ListingDate',
       'SettleMonth', 'Representative', 'HomePage', 'Region'],
      dtype='object')

In [26]:
# 값만 보기
df.values

array([['060310', 'KOSDAQ', '3S', ..., '박종익, 김세완 (각자 대표이사)',
        'http://www.3sref.com', '서울특별시'],
       ['095570', 'KOSPI', 'AJ네트웍스', ..., '이현우',
        'http://www.ajnet.co.kr', '서울특별시'],
       ['006840', 'KOSPI', 'AK홀딩스', ..., '채형석, 이석주(각자 대표이사)',
        'http://www.aekyunggroup.co.kr', '서울특별시'],
       ...,
       ['003280', 'KOSPI', '흥아해운', ..., '이환구', 'http://www.heung-a.com',
        '서울특별시'],
       ['037440', 'KOSDAQ', '희림', ..., '정영균, 이목운, 허철호, 염두성 (각자대표)',
        'http://www.heerim.com', '서울특별시'],
       ['238490', 'KOSDAQ', '힘스', ..., '김주환', 'http://www.hims.co.kr',
        '인천광역시']], dtype=object)

## 데이터 색인하기

### Series

In [30]:
# Name 컬럼 하나만 가져옵니다.
df.Name
df["Name"]

0            3S
1        AJ네트웍스
2         AK홀딩스
3        APS홀딩스
4         AP시스템
         ...
6662    흥국화재2우B
6663      흥국화재우
6664       흥아해운
6665         희림
6666         힘스
Name: Name, Length: 6667, dtype: object

In [29]:
# df["Name"] 의 type을 봅니다.
type(df["Name"])

pandas.core.series.Series

In [34]:
# 0번째 행만 가져옵니다. 행인덱스를 가져올때는 .loc를 사용합니다.
# loc는 위치(locate)를 의미합니다.
df.loc[0]

Symbol                          060310
Market                          KOSDAQ
Name                                3S
Sector                   특수 목적용 기계 제조업
Industry                   반도체 웨이퍼 캐리어
ListingDate                 2002-04-23
SettleMonth                        03월
Representative      박종익, 김세완 (각자 대표이사)
HomePage          http://www.3sref.com
Region                           서울특별시
Name: 0, dtype: object

In [37]:
# df.loc[0] 의 type을 봅니다
type(df.loc[0])

pandas.core.series.Series

### DataFrame

In [40]:
# df 변수의 타입을 봅니다.
type(df)

pandas.core.frame.DataFrame

In [63]:
# 여러 컬럼을 지정할 때는 리스트 형태로 묶어주어야 합니다. 
# 2차원 행렬은 대괄호가 [] 2개가 있다는 것을 기억해 주세요.
df[["Symbol", "Name"]].loc[:3]

   Symbol    Name
0  060310      3S
1  095570  AJ네트웍스
2  006840   AK홀딩스
3  054620  APS홀딩스

In [61]:
# 여러 개의 행을 가져올 때도 [] 대괄호를 통해 리스트 형태로 묶어줍니다.
df.loc[[0, 1, 5, 10]]

,Symbol,Market,Name,Sector,Industry,ListingDate,SettleMonth,Representative,HomePage,Region
0,060310,KOSDAQ,3S,특수 목적용 기계 제조업,반도체 웨이퍼 캐리어,2002-04-23,03월,"박종익, 김세완 (각자 대표이사)",http://www.3sref.com,서울특별시
1,095570,KOSPI,AJ네트웍스,산업용 기계 및 장비 임대업,"렌탈(파렛트, OA장비, 건설장비)",2015-08-21,12월,이현우,http://www.ajnet.co.kr,서울특별시
5,211270,KOSDAQ,AP위성,통신 및 방송 장비 제조업,위성통신 단말기,2016-03-04,12월,류장수,http://www.apsi.co.kr,서울특별시
10,278420,KOSPI,ARIRANG ESG우수기업,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [65]:
# 1개의 컬럼을 가져올 때도 대괄호[] 2개를 써서 리스트 형태로 묶어주게 되면 데이터프레임 형태로 반환됩니다.
# "Name" 을 데이터프레임으로 가져옵니다.
print(type(df[["Name"]]))
print(type(df["Name"]))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>

### loc를 통한 서브셋 가져오기

In [73]:
# 행과 열 함께 가져오기
# .loc[행, 열]
print(df.loc[3, "Name"])

APS홀딩스

In [72]:
# .loc[열][행]
print(df["Name"][3])

APS홀딩스

In [80]:
# 여러 개의 행과 하나의 컬럼 가져오기
# .loc[행, 열]
df.loc[[2, 5, 10]]["Name"]

2               AK홀딩스
5                AP위성
10    ARIRANG ESG우수기업
Name: Name, dtype: object

In [ ]:
# 여러개의 행과 여러개의 컬럼 가져오기
# .loc[행, 열]

In [82]:
df.loc[[2, 5, 10]][["Symbol", "Name"]]

    Symbol             Name
2   006840            AK홀딩스
5   211270             AP위성
10  278420  ARIRANG ESG우수기업

### Boolean Indexing

In [87]:
# 카카오를 찾습니다.
df[df["Name"] == "카카오"]

,Symbol,Market,Name,Sector,Industry,ListingDate,SettleMonth,Representative,HomePage,Region
4434,035720,KOSPI,카카오,"자료처리, 호스팅, 포털 및 기타 인터넷 정보매개 서비스업",인터넷 서비스(인터넷 광고),2017-07-10,12월,"여민수, 조수용",http://www.kakaocorp.com,제주특별자치도

In [85]:
# and => &
# or => |

In [105]:
# 서울특별시에 소재지를 두고 있는 KOSPI 종목의 종목명과 심볼을 가져옵니다.
# .loc[행, 열]
# .loc[조건식, 열]

#df[(df["Region"] == "서울특별시") & (df["Market"] == "KOSPI")][["Symbol", "Name"]]
df.loc[(df["Region"] == "서울특별시") & (df["Market"] == "KOSPI"), ["Name", "Symbol"]]

        Name  Symbol
1     AJ네트웍스  095570
2      AK홀딩스  006840
46       BGF  027410
47    BGF리테일  282330
49       BYC  001460
...      ...     ...
6650     휴비스  079980
6652     휴스틸  005010
6656     휴켐스  069260
6661    흥국화재  000540
6664    흥아해운  003280

[408 rows x 2 columns]

## 파생변수 만들기

In [ ]:
# pd.to_datetime 을 통해 데이터의 타입을 변환합니다.

In [ ]:
# ListingYear 파생변수 만들기

In [ ]:
# nan은 not a number의 약자로 결측치를 의미합니다.

## 데이터 시각화 툴 소개

#### matplotlib
* Anatomy of a figure — Matplotlib documentation

#### seaborn
* seaborn: statistical data visualization — seaborn documentation

#### pandas
* Visualization — pandas documentation

## 데이터 시각화를 위한 폰트설정

In [99]:
def get_font_family():
    """
    시스템 환경에 따른 기본 폰트명을 반환하는 함수
    """
    import platform
    system_name = platform.system()
    # colab 사용자는 system_name이 'Linux'로 확인

    if system_name == "Darwin" :
        font_family = "AppleGothic"
    elif system_name == "Windows":
        font_family = "Malgun Gothic"
    else:
        # Linux
        # colab에서는 runtime을 <꼭> 재시작 해야합니다.
        # 런타임을 재시작 하지 않고 폰트 설치를 하면 기본 설정 폰트가 로드되어 한글이 깨집니다.
        !apt-get update -qq
        !apt-get install fonts-nanum -qq  > /dev/null

        import matplotlib.font_manager as fm

        fontpath = '/usr/share/fonts/truetype/nanum/NanumBarunGothic.ttf'
        font = fm.FontProperties(fname=fontpath, size=9)
        fm._rebuild()
        font_family = "NanumBarunGothic"
    return font_family

In [102]:
# 위에서 만든 함수를 통해 시스템 폰트를 불러옵니다.
get_font_family()

'Malgun Gothic'

In [100]:
# 시각화를 위한 폰트설정
# 위에서 만든 함수를 통해 시스템 폰트를 불러와서 font_family 라는 변수에 할당합니다.
rc()

In [100]:
# 폰트설정

In [100]:
# 마이너스폰트 설정

In [101]:
# ggplot으로 그래프 스타일 설정

### 폰트 설정 확인하기

In [ ]:
# 한글폰트 확인하기